body {
    overflow: hidden;
    overflow-y: auto; 
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 1s ease-in-out; 
    z-index: 1;
}

.popup.open {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1; 
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 90%; 
    overflow-y: auto; 
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.popup-image img {
    max-width: 100%; 
    max-height: 300px; 
    height: auto;
    border-radius: 8px;
}

.popup-data {
    flex-grow: 1;
    padding-left: 20px;
}

.adopt-button {
    background-color: #00aa00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
